<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/inicio.css" />

</head>
<body>
  <div id="splash"><center><img class="responsive-img" src="../assets/images/lyftsarah.png"></center></div>
  <section class="container-fluid">
    <div class="logoblancolyft col s6 offset-s6">
      <div class="card-content white-text"><img  class="logoblancolyft" src="../assets/images/logoblancolyft.png" width="50" heigth"50" alt="">
      </div>
    <div class="row">
      <div class="life"><img src="../assets/images/lyftlifetransparent.png" alt="">
     </div>
    </div>
    <div class="row">
      <div class="card-action">
        <div class="col s6"><a  class="login "href="#">LOG IN</a></div>
        <div class="sign"><a class="sing" href="singup.html">SING UP</a></div>
         </div>
    </div>

     </section>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                 crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="../js/inicio.js"></script>
</body>
</html>
