<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/name.css" />
</head>
<body>
  <main >
    <header class="container-fluid">
      <div class="row-sign">
        <div class="brand col s3"><a href="verify.html"><i class="pink-text text-darken-1 large material-icons">chevron_left</i></a></div>
        <div class=" brand1 col s9"><h3>SING UP</h3></div>
        </div>
<div class="row-text"><h5>Join now for free ride credit</h5></div>
    </header>
    <section class="container-fluid">
          <div class="card white">
            <div class="row card-content black-text">
              <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Last Name</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
      </div>
      <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>I agree to Liyft'ss<a href="#">Terms of Service</span>
      </label>
    </p>
      </form>
    </div>
              </div>
              <div class="card-action">
                <button type="button" name="button"><a class="btn-large disabled">NEXT</a></button>
                </div>
          </div>
        </section>
  </main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="../js/singup.js"></script>
</body>
</html>
